*{
    margin: 0%;
    padding: 0%;
}
html,body{
    width: 100%;
}
body::-webkit-scrollbar{
    display: none;
}
*::selection{
    background-color: transparent;
    color: greenyellow;
}
#pani, #headan, #navtext {
    font-kerning: none;
}